<app-avatar [imageSrc]="'./assets/logo small.png'"></app-avatar>
<app-avatar [imageSrc]="'./assets/logo small.png'"></app-avatar>

<h2>This is your match</h2>

<br>
<h3>Get in contact with </h3>
<h3>Use this tools to plan your shared lunch<br>
shared lunch experience.</h3>       

<div class="button-row">
    <button mat-raised-button
            color="primary"
            (click)="cancelLunch()">Cancel Lunch</button>
</div>

<div class="button-row">
    <button mat-raised-button
            color="primary"
            (click)="rate()">Rate Lunch</button>
</div>

