<br>
<div id="container">
    <div id="izquierda">
        <app-avatar [imageSrc]="'https://api.adorable.io/avatars/300/352@adorable.io.png'"></app-avatar>
    </div>
    <div id="derecha">
        <app-avatar [imageSrc]="'https://api.adorable.io/avatars/300/301@adorable.io.png'"></app-avatar>
    </div>            
</div>
<br>

<div style="text-align:center">
    <h2>This is your match</h2>

    <br>
    <h3>Get in contact with {{matchUser.firstName}} {{matchUser.lastName}} </h3>
    <h3>Use this tools to plan your shared lunch. {{matchUser.phone}} {{matchUser.email}} <br>
    Good Luck</h3>       

    <div class="button-row">
        <button mat-raised-button
                color="primary"
                (click)="cancelLunch()">Cancel Lunch</button>
    </div>
    <br>
    <div class="button-row">
        <button mat-raised-button
                color="primary"
                (click)="rate()">Rate Lunch</button>
    </div>  
    Note:
    Remember to rate your lunch experience,
    obviosuly after you are done.
</div>