<div style="text-align:center">
<br>
<app-avatar [imageSrc]="'./assets/logo small.png'" ></app-avatar>
<br>
<div class="example-container">
<form [formGroup]="loginForm">
    <mat-form-field >
            <input matInput
                    placeholder="Email"
                    id="email"                   
                    formControlName="email"               
                    required>
        </mat-form-field>
    <br>
        <mat-form-field> 
            <input matInput
                    placeholder="Password"
                    id="password"                   
                    formControlName="password"               
                    required>
        </mat-form-field>
    
        <div class="button-row">
            <button mat-raised-button
                    color="primary"
                    [disabled]="!loginForm.valid"
                    (click)="login()">Log In</button>
        </div>
</form>
</div>
<br>
<a [routerLink]="['/registry']">I'M NEW</a>

</div>
